.text {
  -fx-font-family: "Orbitron";
  -fx-font-size: 11px;
  -fx-text-fill: #3b3939;
}

.table-row-cell:empty {
  -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
  -fx-border-width: 0px;
}

.background{
  -fx-background-color: #b0d5d9;
}

.componentbg{
  -fx-background-color: #91afb3;
}

.bigtitle {
  -fx-fill: white;
  -fx-font-family: 'Orbitron';
  -fx-font-size: 50px;
  -fx-font-weight: 900;
  -fx-border-color: #3b3939;
  -fx-stroke: #3b3939;
  -fx-effect: dropshadow(gaussian, #3b3939, 1, 1.0, 1, 1);
}

.subtitle {
  -fx-fill: white;
  -fx-font-family: 'Orbitron';
  -fx-font-size: 22px;
  -fx-font-weight: 900;
  -fx-border-color: #3b3939;
  -fx-stroke: #3b3939;
  -fx-effect: dropshadow(gaussian, #3b3939, 0.5, 0.5, 0.5, 0.5);
}

.menubutton {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-background-insets: 0,10,0,10;
  -fx-effect: dropshadow(gaussian, #3b3939, 1, 1.0, 1, 1);
  -fx-font-family: "Orbitron";
  -fx-text-fill: #3b3939;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-padding: 20;
}

.midbutton {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-background-insets: 0,10,0,10;
  -fx-effect: dropshadow(gaussian, #3b3939, 1, 1.0, 1, 1);
  -fx-font-family: "Orbitron";
  -fx-text-fill: #3b3939;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-padding: 10;
}

.smallbutton {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-background-insets: 0,10,0,10;
  -fx-effect: dropshadow(gaussian, #3b3939, 1, 1.0, 1, 1);
  -fx-font-family: "Orbitron";
  -fx-text-fill: #3b3939;
  -fx-font-weight: bold;
  -fx-font-size: 11px;
  -fx-padding: 5;
}